@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

html,
body,
#root {
    height: 100%;
}

main {
    padding: 2em;
}

#main {
    background: #1d1d1f;
    height: 100%;
}

#main * {
    color: #7d7d7d;
}

.black {
    background: #000;
    color: #fff;
}